/copy
/world
/world_nether
/old_world_nether
/logs/*
/plugins-disabled
/crash-reports

*.log
*.sqlite
*.tar.gz

banned-players.json
banned-ips.json
whitelist.json
ops.json
usercache.json
server.properties

/plugins/GroupManager/backup/*
/plugins/GroupManager/worlds/world/users.yml

/plugins/GriefPreventionData/PlayerData/*
/plugins/GriefPreventionData/ClaimData/*
/plugins/GriefPreventionData/_schemaVersion

/plugins/PluginMetrics
/plugins/PluginMetrics/*

/plugins/Mantle/world.png
/plugins/Mantle/storage/rchests.yml
/plugins/Mantle/storage/regeneration.yml

/plugins/MobManager/limiter.yml
/plugins/MobManager/ProtectedAnimals.dat

/plugins/MCNSAChat/chatLog.txt
/plugins/MCNSAChat/errorLog.txt
/plugins/MCNSAChat/chat.db

/plugins/WorldEdit/nmsblocks/*
/plugins/WorldEdit/schematics/*

/plugins/WorldGuard/cache/*
