/copy
/world
/world_nether
/world_the_end
/logs/*

/*.jar
/plugins/*.jar
*.log
*.sqlite

banned-players.json
banned-ips.json
whitelist.json
ops.json
usercache.json
server.properties

/plugins/GriefPreventionData/PlayerData/*
/plugins/GriefPreventionData/ClaimData/*
/plugins/GriefPreventionData/_schemaVersion

/plugins/PluginMetrics
/plugins/PluginMetrics/*

/plugins/Mantle/world.png
/plugins/Mantle/animals.sqlite
/plugins/Mantle/data.sqlite
/plugins/Mantle/storage/rchests.yml

/plugins/MobManager/limiter.yml

/plugins/MCNSAChat/chatLog.txt
/plugins/MCNSAChat/errorLog.txt
/plugins/MCNSAChat/chat.db

/plugins/WorldEdit/nmsblocks/*
/plugins/WorldEdit/schematics/*

/plugins/WorldGuard/cache/*

plugins/MobManager/limiter.yml

*.sqlite

plugins/Mantle/animals.sqlite

plugins/Mantle/data.sqlite

plugins/Mantle/storage/regeneration.yml

plugins/Mantle/storage/rchests.yml

plugins/Mantle/world.png
